{
  "all": true,
  "reporter": [
    "html",
    "text",
    "json-summary"
  ],
  "statements": 75,
  "lines": 75,
  "branches": 75,
  "functions": 75,
  "exclude": [
    "config.js",
    "coverage",
    "docs",
    "src/server.js",
    "src/lib/index.js",
    "src/lib/getEvents.js",
    "weback.config.js"
  ]
}
